@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  scrollbar-width: none;
  transition: all;
  font-style: normal;
}
.blur{
  background: rgba(30,28,28,0.6);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  
  

}

.animate-rotate {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: translateX(1/2) translateY(1/2) rotate(0deg);
  }
  100% {
    transform: translateX(1/2) translateY(1/2) rotate(360deg);
  }
}
